/* ------------------ */
/*    Basic Setup    */
/* ----------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family:'lato';
}
html{
    font-size:20px;
    font-family:'Lato', sans-serif;
    font-weight:300;
    color:#555;
    background-color:#fff;
    text-rendering:optimizeLegibility;
    overflow:hidden;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------ */
/*      HEADER       */
/* ----------------- */

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(screenshots/ipad-tablet-technology-touch.jpg);
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center bottom;
    position:relative; 
}
/* NAVIGATION */
nav{
    background-color:#fff;
    height:15%;
    box-shadow:1px 1px 1px #666;
    
}
.logo-box{
    float:left;
    width:25%;
    margin-top:43px;
    padding-left:28px;
}
.main-nav{
    float:left;
    width:50%;
    list-style:none;
    text-align:left;
    margin-top:48px;
    padding-left:25px;
}
.main-nav li{
    display:inline-block;
    margin-left:38px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
    font-size:72%;
    font-weight:400;
    text-transform:uppercase;
    color:#555;
}
.main-nav li a:hover,
.main-nav li a:active{
    color:#888;
}
.contact-box{
    width:25%;
    float:left;
    margin-top:48px; 
    display:flex;
}
.btn-box{
    flex:1;
}
.number{
    display:inline-block;
    flex:1;
    font-size:70%;
    font-weight:700;
    text-align:center;
    padding-top:5px;
    color:rgb(159,177,0);
}
.btn-contact:link,
.btn-contact:visited{
    text-decoration:none;
    padding:8px;
    text-transform:uppercase;
    font-size:65%;
    font-weight:700;
    border:2px solid rgb(159,177,0);
    color:rgb(159,177,0);
    transition:background ease-in-out 200ms, color ease-in-out 200ms;
}
.btn-contact:hover,
.btn-contact:active{
    background-color:rgb(159,177,0);
    color:#fff;
    border:2px solid rgb(159,177,0);
}

/* HERO-TEXT-BOX */
.hero-text-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    padding:2%;
    text-align:center;
}
h1{
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:8px;
    font-size:230% !important;
}
.long-copy{
    color:#fff;
    font-size:125%;
    font-weight:300;
    margin-bottom:55px;
}
.btn-full:link,
.btn-full:visited{
    text-decoration:none;
    padding:13px 16px;
    color:#fff;
    font-size:72%;
    text-transform:uppercase;
    background-color:rgb(159,177,0);
    border:1px solid rgb(159,177,0);
    border-radius:2px;
    font-weight:700;
    box-shadow:1.5px 1.5px 2px #333;
    transition:background-color ease-in 0.2s,border ease-in 0.3s;
}
.btn-full:hover,
.btn-full:active{
    background-color:rgb(110,160,0);
    color:#fff;
    border:1px solid rgb(130,160,0) !important;
}
.btn-ghost:link,
.btn-ghost:visited{
    text-decoration:none;
    color:rgb(159,177,0);
    font-weight:100;
    margin-left:0px;
    font-size:72%;
    padding:13px 20px;
    background-color:rgba(255, 255, 255, 0.01);
    border:1px solid rgb(159,177,0);
    display:none;
}
.btn-ghost:hover,
.btn-ghost:active{
    color:rgb(159,177,0);
    background-color:#fff;
}
