/* ------------------ */
/*    Basic Setup    */
/* ----------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:20px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color:#555;
    background-color:#fff;
    text-rendering:optimizeLegibility;
    overflow:hidden;
}

/* ------------------ */
/*      HEADER       */
/* ----------------- */

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),url(screenshots/ipad-tablet-technology-touch.jpg);
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center bottom;
    position:relative; 
}

nav{
    overflow:hidden;
    height:13%; 
    background-color:#fff;
    box-shadow:0 1px 1px #555;
}
.logo-box{
    float:left;
    /*margin-top:30px;*/
    margin-top:15px;
    margin-left:60px;
    background-color:#fff;
    border-radius:10px;
    padding:3px;
}
.main-nav {
    float:right;
    list-style:none;
    margin-top:35px;
    /*margin-top:45px;*/
}
.main-nav li {
    display:inline-block;
    margin-right:45px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.62);
    /*color:#fff;*/
    text-transform:uppercase;
    font-size:60%;
    font-weight:700;
    padding:5px;
}
.main-nav li a:hover,
.main-nav li a:active{
    /*color:rgb(159,177,0);*/
    color:#999;
    
}
.btn-contact:link,
.btn-contact:visited{
    padding:13px !important;
    border:1px solid rgb(159,177,0);
    background-color:rgb(159,177,0);
    color:#fff !important;
    border-radius:50px;
    font-weight:700 !important;
    font-size:68% !important;
    transition:background-color ease-in 0.2s;
    box-shadow:1px 1px 1px rgb(159,177,0);
}
.btn-contact:hover,
.btn-contact:active{
    background-color:rgb(130,160,0);
    border:1px solid rgb(130,160,0) !important;
}
.hero-text-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    padding:2%;
    text-align:center;
}
h1{
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:8px;
    font-size:190% !important;
}
.long-copy{
    color:#fff;
    font-size:115%;
    font-weight:100;
    margin-bottom:40px;
}
.btn-full:link,
.btn-full:visited{
    text-decoration:none;
    padding:12px 25px;
    color:#fff;
    font-size:70%;
    text-transform:uppercase;
    background-color: #20ad65;
    border:1px solid #20ad65;
    border-radius:5px;
    font-weight:700;
    box-shadow:1.5px 1.5px 2px #333;
    transition:background-color ease-in 0.2s,border ease-in 0.2s;
}
.btn-full:hover,
.btn-full:active{
    background-color:rgb(130,160,0);
    border:1px solid rgb(130,160,0) !important;
}
